<% provide(:title, 'Contact') %>

<div class= "center hero-unit", id= "jumb">
  <h1>Contact</h1>
</div>


<div class= "text-center">
  <h2>For bookings or more information, please don't hessitate to contact.</br></br> ROGER MUNRO</h2></br>
  <h3>
  	Telephone: 01780 444058</br>
    Mobile: 07860683771</br>
    Email: rogermunro@aol.com
  </h3>
</div>