<% provide(:title, 'Information') %>

<div class= "center hero-unit", id= "jumb">
  <h1>Information</h1>
</div>

<p>Perfectly situated just 5 minutes from the historic town of Stamford and the famous Burghley house. Just 10 minutes drive from Rutland water and the East of England Show Ground. Rockingham race track is also 15 minutes away.</p>