<% provide(:title, 'Information') %>

<div class= "center hero-unit", id= "jumb">
  <h1>Information</h1>
</div>

<p>Perfectly situated just 5 minutes from the historic town of Stamford and the famous Burghley house. Just 10 minutes drive from Rutland water and the East of England Show Ground. Rockingham race track is also 15 minutes away.</p>


<div class= "center" id="map-canvas">


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>

function initialize() {
  var myLatlng = new google.maps.LatLng(52.619885, -0.523137);
  var mapOptions = {
    zoom: 10,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Welcome!'
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>

</div>
