@import "bootstrap";
$grayMediumLight: #eaeaea;
/* site wide */

html {
	overflow-y: scroll;
}

body {
	background-image: image-url('DSC_0521.JPG');
background-repeat: no-repeat;
background-size: 100%;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 0px;
}

/*typography*/

h1,h2, h3, h4, h5, h6 {
	line-height: 1;
}

#jumb {
	background: #3197b3;
	border-radius: 3px;
	padding-bottom: 25px;
	margin-bottom: 8px;
	margin-top: 4px;
	padding-top: 7px;


h1 {
	color: white;
	
    font-size: 37px;
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	text-shadow: 0px 1px 2px black;
	
}
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.6em;
	color: #a63324;
	letter-spacing: -1px;
	padding-top: 8px;
	font-weight: 500;
	line-height: 1;
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;

	&:hover{
	  color: white;
	  text-shadow: 0px 1px 2px black;
	  text-decoration: none;
	}
}

/* footer */

footer {
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1px solid #d3b05f;
  color: #013543;
  a {
    color: #a61700;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 10px;

    }
  }
}




#main {
    background: white;
	padding-left: 10px;
	padding-right: 10px;
	
	border: solid #d3b05f 1px;
	border-radius: 3px;
	margin-top:50px;


}




#homeCabin {
    border: solid #d3b05f 1px;
	border-radius: 4px;
	width: 67%;
}

